@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    12664 Chapman Ave. #1113<br />
    Garden Grove, CA 92840<br />
    <abbr title="Phone">P:</abbr>
    (714)234-6070
</address>

<address>
    <strong>Questions:</strong> <a href="mailto:andyhammer@gmail.com">andyhammer@gmail.com</a><br />
</address>
